@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html, body {
    height: 100%;
}
body {
    margin: 0;

    background-color: #ccc;

    font-family: 'Inter';

    overflow: hidden;

    cursor: grab;

    touch-action: none;
}
.grabbing {
    cursor: grabbing;
}

canvas {
    position: relative;

    aspect-ratio: 1 / 1;

    image-rendering: pixelated;
}

#cursor {
    position: fixed;
    top: 0;

    box-sizing: border-box;

    aspect-ratio: 1 / 1;

    border: 2px solid white;

    box-shadow: 0 0 0 2px black;

    pointer-events: none;

    animation: cursor 1s alternate infinite ease-in-out;
}
@keyframes cursor {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(10deg);
    }
}
.hidden {
    display: none;
}

#colors {
    display: grid;
    grid-template: repeat(2, 32px) / repeat(8, 32px);
    gap: 8px;

    position: fixed;
    bottom: 0;
    left: 50%;

    padding: 16px;
    margin-bottom: 16px;

    border-radius: 16px;

    background-color: #00000099;

    transform: translateX(-50%);

    pointer-events: none;
}
#colors > * {
    cursor: pointer;

    pointer-events: initial;
}
#colors > :hover, .selected {
    border: 3px solid white;
}

#users {
    position: fixed;
    top: 0;

    padding: 16px;
    margin-top: 16px;
    margin-left: 16px;

    border-radius: 25px;

    min-width: 100px;

    text-align: center;
    color: white;

    background-color: #00000099;
}

@media screen and (min-width: 712px) {
    #colors {
        grid-template: repeat(1, 32px) / repeat(16, 32px);

        padding-left: 24px;
        padding-right: 24px;

        border-radius: 32px;
    }
}
